<div id="programs-index">
  <% if @programs.exists? %>
    <% @programs.each_slice(3) do |program_group| %>
      <div class="row">
        <% program_group.each do |program| %>
          <div class="col-md-4">
            <div class="program">
              <%#= image_tag program.image_url(), size: "200x250" %>
              <div class="program-content">
                <h3><%= program.program_title %></h3>
                <%= program.program_description.truncate(200, " ") %>
                <%= link_to "Learn more", program_path(program), class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>