<% title "New Booking" %>
<div class="clearfix main_content floatleft">       
  <div class="clearfix content">
    <div class="contact_us">
      <h1>Make a new booking</h1>
      <%= render "form" %>
    </div>
  </div>
</div>