<% if object.errors.any? %>
  <div id="error_explanation">
    The form contains <%= pluralize(object.errors.count, "error") %>
    <div class="alert alert-danger">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
  </div>
<% end %>