<div class="clearfix wrapper footer_top">
  <div class="clearfix footer_top_container">
    <div class="clearfix single_footer_top floatleft">
      <h2>About this project</h2>
      <p>Status: Ongoing</p>
      <p>This platform emulates an online booking system that allows school staff to book for enrichment programs offered by informal learning institutions like museums or private educational vendors.</p>
    </div>
    <div class="clearfix single_footer_top floatleft">
      <h2>Features</h2>
      <p>Please check my <a href="https://github.com/emesc/booking_system" target="_blank" rel="noopener">Github</a> page for what are done, being done and will be done.</p>
    </div>
    <div class="clearfix single_footer_top floatleft">
      <h2>Useful Links</h2>
      <ul>
        <li><a href="">Important links of this site</a></li>
        <li><a href="">Important links of this site</a></li>
        <li><a href="">Important links of this site</a></li>
      </ul>
    </div>
  </div>
</div>