<ul id="nav" class="pull-right">
    <% if user_signed_in? %>
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
    <% elsif !user_signed_in? && params[:controller] != "admin/sessions" %>
      <li><%#= link_to "Sign up", new_user_registration_path %></li>
      <li><%= link_to "Sign in", new_user_session_path %></li>
    <% end %>
</ul>