<% title "Roles" %>
<h1>Showing roles</h1>
<% if @roles.exists? %>
  <div class="clearfix well">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
      </tr>
      <% @roles.each do |role| %>
        <tr>
          <td><%= link_to role.name, admin_role_path(role), class: "program-link" %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% else %>
  <p>There are no roles to show.</p>
<% end %>