/*html {
  position: relative;
  min-height: 100%;
}

body {
  line-height: 1.6em;
  margin-bottom: 60px;
}

.container {
  width: auto;
  padding: 0 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.container .text-muted {
  margin: 20px 0;
}

.navbar {
  overflow: auto;
  min-height: 100px;
  background: $primary-color;
  color: $primary-text-color;
  font-size: 18px;
  border: 0;
  border-radius: 0;
}

.navbar h1 {
  margin: 10px 0 0 0;
  padding: 0;
}

.navbar a {
  color: $primary-text-color !important;
}

.navbar a:hover {
  color: $secondary-color;
}

.navbar a.navbar-brand:hover {
  color: $primary-text-color !important;
}

.navbar ul {
  margin-top: 22px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: none;
  color: $secondary-color !important;
}

.search-form {
  margin-top: 20px;
  .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.search-form input[type='text'] {
  border-radius: 0;
  height: 38px;
}

.search-form .btn {
  border: 0;
  height: 38px;
  margin-top: 0;
  border-radius: 0;
  margin-left: -5px;  /* so that it's attached to the input */
}

.search-form .form-control {
  background: #f4f4f4;
  border: 1px solid $background-color;
}

.btn {
  border: none;
  border-radius: 0;
}

.btn-primary {
  background: $btn-primary-color;
  color: #000;
}

.btn:hover {
  background: #ccc;
}

.program {
  border: 1px #ccc solid;
  background: $primary-text-color;
  margin-bottom: 30px;
}

.program img {
  width: 100%;
}

.program-content {
  padding: 20px;
  box-sizing: border-box;
}

.program h3 {
  margin: 0;
  padding: 0;
}

small {
  background: $primary-color;
  color: $primary-text-color;
  display: block;
  margin: 10px 0;
  padding: 5px 10px;
}

.program .btn {
  display: block;
  margin-top: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*background: $primary-color;*/
  background: #222;
  color: $primary-text-color;
  text-align: center;
  height: 60px;
  padding-top: 20px;
  margin-top: 30px;
}


/* navbar */
a {text-decoration:none;color:#000;}
a:hover{text-decoration:none}
input[type=text],input[type=password],input[type=submit],textarea{border:1px solid #ddd;padding:5px;outline:0;}
h1 {
  margin: 0 0 15px;
}
/*h1{font-weight:normal;margin:0 0 15px;font-family: 'Aria', sans-serif;}
h2 {font-size:25px;line-height:30px}
img{max-width:100%;height:auto;border:none}*/
.floatleft{float:left}
.floatright{float:right}

.wrapper{width:1020px;display:block;margin:0 auto}
.clearfix{overflow:hidden}
ul,ol{margin:0;padding:0;list-style:none;}
#selectnav1{display:none;}
/* home page style */
#header_area{background: url("header_bg.png") repeat-x scroll 0 0 #000;}
.header{}
.header_top{padding: 15px 0;}
.logo{}
.logo a{}
.logo a h1{color: #fff;
font-family: 'Arial';
font-size: 30px;
font-weight: bold;
line-height: 40px;
text-transform: uppercase;}
.logo a h1 span{color: #ffd500;}
.search{background: none repeat scroll 0 0 #2c2c2b;
border: 1px solid #595957;
padding: 5px;}
.search input[type="text"]{background: none;
border: none;
outline: 0;
color: #999;
width: 200px;}
.search input[type="submit"]{-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
background: url("search.png") no-repeat scroll 5px 0px rgba(0, 0, 0, 0);
border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #595957;
border-image: none;
border-style: none none none solid;
border-width: medium medium medium 1px;
cursor: pointer;
height: 22px;
padding-left: 5px;
text-indent: -99999px;
width: 33px;}
.header_bottom{background: none repeat scroll 0 0 #ffd500;
min-height: 50px;
padding: 10px;}
/* dropdown menu*/
.header_bottom ul{list-style: none outside none;
margin: 0;
padding: 0;}
.header_bottom ul li{float: left;position:relative;}
.header_bottom ul li a{display: block;
font-family: 'Arial';
font-size: 14px;
padding: 5px 15px;}
.header_bottom ul li a:hover{background:#f5f5f5 url(menu_item.png) no-repeat scroll left center;
-webkit-transition: background 300ms ease-in;
-moz-transition: background 300ms ease-in;
-ms-transition: background 300ms ease-in;
-o-transition: background 300ms ease-in;
transition: background 300ms ease-in;}
/* dropdown menu 2nd level*/
#dropdown{background: url("down.png") no-repeat scroll right 8px rgba(0, 0, 0, 0);
padding-right: 1px;}
.header_bottom ul li ul{background: none repeat scroll 0 0 #FFD500;
left: -99999px;
position: absolute;
z-index: 1000;
transition: all .3s ease 0s;-moz-transition: all .3s ease 0s;-webkit-transition: all .3s ease 0s;-o-transition: all .3s ease 0s;-ms-transition: all .3s ease 0s;}
.header_bottom ul li:hover ul{left:0px;top:30px}
.header_bottom ul li ul li{width:200px;border-bottom:1px solid #ddd}
.header_bottom ul li ul li:last-child{border-bottom:0px;}
.header_bottom ul li ul li a{padding:10px;}
.header_bottom ul ul li a:hover{background:#f5f5f5 url(menu_item.png) no-repeat scroll left center;
-webkit-transition: background 300ms ease-in;
-moz-transition: background 300ms ease-in;
-ms-transition: background 300ms ease-in;
-o-transition: background 300ms ease-in;
transition: background 300ms ease-in;
padding-left:15px;
transition: all .3s ease 0s;-moz-transition: all .3s ease 0s;-webkit-transition: all .3s ease 0s;-o-transition: all .3s ease 0s;-ms-transition: all .3s ease 0s;}

/* content */

#content_area {
  margin-top: 20px;
}
*/