/* simple_form radio buttons */

label.collection_radio_buttons {
  padding-right: 10px;
  font-weight: normal;
}

form#new_booking.simple_form.new_booking p label{
  font-weight: normal;
  padding-left: 4px;
}