<% title "Edit user" %>
<div class="clearfix main_content floatleft">       
  <div class="clearfix content">
    <div class="contact_us">
      <h1>Edit a user</h1>
      <%= render "form" %>
    </div>
  </div>
</div>